*{
    padding:0px;
    margin:0px;
}
#navbar{
    height:67.2px;
    width:100vw;
    background-color: #205DC0;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:clamp(30px,10%,100px)
}
.nav-items{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-item-1{
    width:45%;
    min-width: 600px
}
/* fir nav item styleing starts from here */
.nav-logo-div{
    height:100%;
    display: flex;
    align-items: center;
}
.nav-search-div{
    height:100%;
    display: flex;
    align-items: center;
    flex:1;
    gap:20px;
}
.nav-search-div form{
    height:50px;
    flex:1;
}
#nav-logo{
    height:100%
}
#nav-logo-link{
    display: block;
    height:55%;
}
.nav-search-div .search-form input{
    flex:1;
    min-width:200px;
    height:40px;
    width:70%;
    border:0px;
    font-size:20px;
    padding-left: 10px;
    border-radius: 2px 0px 0px 2px;
}
input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
}
.nav-search-div .search-form input:focus{
    outline: none;
    border: 0;
    box-shadow: none;
}
.nav-search-div .search-form{
    display: flex;
    align-items: center;
    justify-content: center
}
.nav-search-div .nav-search-btn{
    background-color: white;
    border:0px;
    margin:0px;
    padding:0px;
    padding-right:10px;
    height:40px;
    box-sizing:border-box;
    outline: 0px;
    display: flex;
    align-items: center;
    border-radius: 0px 2px 2px 0px;
}
.nav-search-btn img{
    height:30px
}

/* navbar-item-1 ends here */

/* navbar-item-2 starts here */

#nav-item-2{
    background-color: yellow;
    width:35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-item-2 #login-div{
    height:30px;
    background-color: white;
    padding:10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#nav-item-2 #login-div a{
    text-decoration: none;
    color:#205DC0;
    font-weight:500
}
