*{
    padding:0px;
    margin:0px;
    z-index:-1;
}
body{
    background-color: #F1F2F4;
}
header{
    background-color: #205DC0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;
}
#navbar{
    height:56px;
    z-index: 1000;
    width:100vw;
    background-color: #205DC0;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:clamp(30px,10%,100px);
    max-width: 1600px;

}
#navbar #nav-menu{
    display:none;
}
.nav-items{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-item-1{
    width:45%;
    min-width: 400px
}
/* fir nav item styleing starts from here */
.nav-logo-div{
    height:100%;
    display: flex;
    align-items: center;
    gap:10px
}
.nav-search-div{
    height:100%;
    display: flex;
    align-items: center;
    flex:1;
    gap:20px;
    max-width: 430px;
}
.nav-search-div form{
    height:53px;
    flex:1;
}
#nav-logo{
    height:100%;
}
#nav-logo-link{
    display: block;
    height:35px;
}
.nav-search-div .search-form input{
    flex:1;
    min-width:200px;
    height:35px;
    width:70%;
    border:0px;
    font-size:18px;
    padding-left: 10px;
    border-radius: 2px 0px 0px 2px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size:13px;
}
input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
}
.nav-search-div .search-form input:focus{
    outline: none;
    border: 0;
    box-shadow: none;
}
.nav-search-div .search-form{
    display: flex;
    align-items: center;
    justify-content: center
}
.nav-search-div .nav-search-btn{
    background-color: white;
    cursor:pointer;
    border:0px;
    margin:0px;
    padding:0px;
    padding-right:10px;
    height:35px;
    box-sizing:border-box;
    outline: 0px;
    display: flex;
    align-items: center;
    border-radius: 0px 2px 2px 0px;
}
.nav-search-btn img{
    height:26px
}

/* navbar-item-1 ends here */

/* navbar-item-2 starts here */

#nav-item-2{
    width:20%;
    min-width:220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-item-2 #login-div{
    height:30px;
    background-color: white;
    padding:10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size:16px;
}

#nav-item-2 #login-div a{
    text-decoration: none;
    color:#205DC0;
    font-weight:500
}

#nav-item-2 #nav-more{
    display: flex;
    height:100%;
    position: relative;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size:16px;
    gap:3px
}

#nav-item-2 #nav-more:hover #nav-more-dropdown{
    display:flex;
    z-index:1000;
}
#nav-item-2 #nav-more #nav-more-dropdown:hover{
    display:flex;
    z-index:1000;
}
#nav-item-2 #nav-more #nav-more-dropdown{
    position:absolute;
    z-index:9999;
    background-color: white;
    top:50px;
    color:black;
    display: none;
    flex-direction: column;
    height:250px;
    justify-content: space-evenly;
    width:240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    align-items: center;
    border-radius: 4px;
    z-index:1000;
}
#nav-item-2 #nav-more #nav-more-dropdown .drop-items{
    width: 100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0px;
    border-bottom: 0.3px solid lightgrey;
    z-index:1000
}
#nav-item-2 #nav-more #nav-more-dropdown .drop-items:hover{
    background-color: #C8C8C8;
    z-index:1000
}

#nav-item-2 #nav-more span{
    display: inline-block;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center
}
#nav-item-2 #nav-more img:nth-child(1){
    height:18px;
}
#nav-item-2 #nav-more img:nth-child(2){
    height:10px;
}
#nav-cart-div img{
    height: 24px
}
#nav-cart-div{
    cursor:pointer;
    color:white;
    display: flex;
    align-items: center;
    gap:10px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size:16px;
}













/* styling main content:--- */


main{
    width:100%;
    box-sizing: border-box;
    background-color: transparent;
    margin-top:56px;
    z-index:100
}
main #main-category{
    height:126px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #main-category #category{
    max-width: 1200px;
    height:126px;
    width:100%;
    margin-left:20px;
    margin-right:20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto;
    scrollbar-width: none;
    gap:clamp(20px,4%,40px)
}

main #main-category #category .category-items{
    display: flex;
    flex-direction: column;
    height:100px;
    width:100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main-category #category .category-items img{
    height:64px;
    width:64px 
}









/* responsivess of navabr starts from here */


/* navabr item 1 */
@media(max-width:1350px){
    #navbar{
    gap:10px;
}}

@media(max-width:1200px){
    #navbar{
    gap:10px;
}
#nav-cart-div #cart-text{
    display: none;
}
}



@media(max-width:780px){
    main{
        width:100%;
        box-sizing: border-box;
        background-color: transparent;
        margin-top:120px;
    }
  #navbar{
    flex-wrap: wrap;
    justify-content: space-around;
    gap:4px
  }

  #nav-item-1{
    display: contents;
  }

  .nav-logo-div{
    order: 1;
  }

  #nav-item-2{
    order: 2;
  }

  .nav-search-div{
    order: 3;
    width: 100%;
    max-width: 1000px;
    flex-basis: 100%;
  }
  .nav-search-div .search-form{
    width:100%;
    padding:0 15px 0 15px;
  }
  .nav-search-div .search-form input{
    border-style: solid;
    border-color: blue;
    border-width: 2px 0 2px 2px;
    width:80%;
    flex-grow: 1;
    height:48px;
  }
  .nav-search-div .search-form input:focus{
    border-style: solid;
    border-color: blue;
    border-width: 2px 0 2px 2px;
}
  .nav-search-div .search-form .nav-search-btn{
    border-style: solid;
    border-color: blue;
    border-width: 2px 2px 2px 0;
    height:48px;
  }
  .nav-search-div .search-form input{
    width:100%;
  }
  #navbar #nav-menu{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar #nav-menu img{
    height:24px;
    width:24px;
}
#nav-item-2{
    justify-content: space-evenly;
}
#nav-item-2 #nav-more{
    display: none;
}
}

@media(max-width:450px){
    #navbar{
        justify-content: space-evenly;
    }
    #nav-item-2{
        min-width: 100px;
        width:40%;
    }
}
@media(max-width:300px){
    #nav-item-2{
        display:none
    }
    .nav-search-div .search-form input{
        min-width:0px;
    }
}
